{% extends 'base.html.twig' %}

{% block body %}
    <h1>New Review</h1>

    <h1>En Attente</h1>

    <ul>
        <li>
            <a href="{{ path('review_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}